@import url(_close/header__mobile-button_close.css);
@import url(_open/header__mobile-button_open.css);
@import url(_dark/header__mobile-button_dark.css);
@import url(_light/header__mobile-button_light.css);

.header__mobile-button {
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
    height: 24px;
    width: 24px;
}



@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .header__mobile-button {
        display: none;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}



