.author__text {
    font-size: 18px;
    line-height: 1.4;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .author__text {
        line-height: 1.3;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .author__text {
        font-size: 18px;
        line-height: 1.5;
    }
}



