.popup__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .popup__title {
    margin-bottom: 29px;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  .popup__title {
    font-size: 24px;
  }
}










