@import url(./__container/author__container.css);
@import url(./__wrap/author__wrap.css);
@import url(./__title/author__title.css);
@import url(./__text/author__text.css);
@import url(./__photo/author__photo.css);

.author {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}
