.header__mobile-button_close {

}


.header__mobile-button_close:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 66%;
    background: #FFFFFF;
    opacity: 1;
    left: 17%;
    transition: .25s ease-in-out;
    top: 11px;
    transform: rotate(135deg);
}

.header__mobile-button_close:after {
    top: 11px;
    transform: rotate(-135deg);
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 66%;
    background: #FFFFFF;
    opacity: 1;
    left: 17%;
    bottom: 8px;
    transition: .25s ease-in-out;
}
