@import url(./_light/button__menu_light.css);
@import url(./_dark/button__menu_dark.css);
@import url(./_login/button__menu_login.css);
@import url(./_logout/button__menu_logout.css);

.button__menu {
    font-size: 18px;
    min-height: 56px;
    width: 100%;
    max-width: 300px;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    .button__menu {
        font-size: 16px;
        min-height: 40px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    .button__menu {
        font-size: 18px;
        min-height: 48px;
    }
}

