.articles__subtitle {
    margin-bottom: 64px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #1A1B22;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .articles__subtitle {
        margin-bottom: 64px;
        font-family: Roboto Slab, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        color: #1A1B22;
    }
}






