.articles__card-title {
    font-size: 22px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1.3;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .articles__card-title {
        line-height: 1.2;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .articles__card-title {
        font-size: 26px;
        font-family: Roboto Slab, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 16px;
    }
}






