.button__popup_sign-up {
    color: inherit;
    border: 1px solid #FFFFFF;
    background:none;
    margin-bottom: 24px;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .button__popup_sign-up {
        display: block;
        padding: 10px 10px;
        font-size: 16px;
        margin-bottom: 20px;
        width: auto;
        max-width: 300px;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .button__popup_sign-up {
        display: block;
        padding: 12px 18px;
        margin-bottom: 16px;
        width: auto;
    }
}

