.button__menu_logout {
    position: relative;
    background: none;
    border: 1px solid inherit;
    margin-bottom: 24px;
    padding-right: 34px;
    color: inherit;
}

.button__menu_logout:after {
    content: '';
    position: absolute;
    right: unset;
    top: 0;
    width: 24px;
    height: 100%;
    padding-left: 10px;

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    .button__menu_logout {
        font-size: 16px;
        margin-bottom: 0;
        padding: 10px 42px 10px 15px;
        box-sizing: border-box;
        max-width: 300px;
        position: relative;
    }

    .button__menu_logout:after {
        content: '';
        position: absolute;
        right: unset;
        top: 0;
        width: 24px;
        height: 100%;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    .button__menu_logout {
        font-size: 18px;
        margin-bottom: 0;
        padding: 12px 42px 12px 18px;
        box-sizing: border-box;
        max-width: 300px;
        position: relative;
        margin-right: 10px;
    }

    .button__menu_logout:after {
        content: '';
        position: absolute;
        right: 13px;
        top: 0;
        width: 24px;
        height: 100%;
    }
}

