.author__title {
    align-self: start;
    margin-bottom: 16px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .author__title {
        align-self: start;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .author__title {
        align-self: start;
        margin-bottom: 24px;
        font-size: 40px;
    }
}



