.button__menu_login {
    background:none;
    margin-bottom: 24px;
    border: 1px solid inherit;
    color: inherit;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
    .button__menu_login {
        display: block;
        padding: 10px 10px;
        font-size: 16px;
        margin-bottom: 0;
        width: auto;
        max-width: 300px;
        min-height: 40px;
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .button__menu_login {
        display: block;
        padding: 12px 18px;
        margin-bottom: 0;
        width: auto;
    }
}

