.footer__social {
    display: flex;
    list-style: none;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .footer__social:last-child {
        margin-right: 0;
    }
}


