@import url(_success/popup__link_success.css);

.popup__link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2F71E5;
    cursor: pointer;
}
